<section class="not-found h-100 w-100">
  <div class="container h-100 w-100">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-2">
          <img src="../../assets/images/logo.svg" />
        </div>

        <div class="content">
          <h2 class="font-weight-bold">Oops....</h2>
          <h2 class="page">Page Not Found</h2>
          <p>
            This Page doesn’t exist or was removed! We suggest you back to home.
          </p>
        </div>

        <div>
          <button class="primary mt-4" (click)="goHome()">
            <span><i class="fa-solid fa-arrow-left"></i></span>
            Back To Home

          </button>
        </div>
      </div>

      <div class="col-md-8">
        <div class="picture-not-found">
          <img class="d-flex " src="../../assets/images/404-not-found.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
