<section class="auth">
  <div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="auth-card">
          <div class="w-50 mx-auto text-center mb-1">
            <img src="../../assets/images/logo.svg" class="w-75" alt="" />
          </div>

          <form [formGroup]="submitEmail" (ngSubmit)="onSendEmail(submitEmail)">

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>
              <input
                formControlName="email"
                type="text"
                class="form-control"
                placeholder="Enter your E-mail"
                aria-label="email"
                aria-describedby="basic-addon1"
              />
            </div>

            <button class="primary w-100" type="submit" (click)="goReset()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
