<section>
  <section class="p-3 sidebar">
    <div
      class="page-title row align-items-center align-content-center justify-content-center"
    >
      <div class="col-md-7">
        <h1 class="h2">Users <span>List</span></h1>
        <p>
          You can now add your items that any user can order it from the
          Application and you can edit
        </p>
      </div>

      <div class="col-md-5 text-end">
        <img src="../../../assets/images/eating-avatar.svg" alt="" />
      </div>
    </div>
  </section>

  <div>
    <div class="d-flex align-content-center justify-content-between my-3">
      <h2 class="h4">Users Table Details</h2>
    </div>
    <p>You can check all details</p>
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Search by</mat-label>
              <mat-select
                [(ngModel)]="parameterKey"
                (selectionChange)="getUsersData()"
              >
                <mat-option value="userName">Name</mat-option>
                <mat-option value="email">Email</mat-option>
                <mat-option value="country">country</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field
              class="example-form-field w-100"
              appearance="outline"
            >
              <mat-label>Search</mat-label>
              <input
                matInput
                type="text"
                [(ngModel)]="searchValue"
                (keyup.enter)="getUsersData()"
              />
              <button
                *ngIf="searchValue"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="searchValue = ''; getUsersData()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <mat-label>Role</mat-label>
              <mat-select
                multiple=""
                [(ngModel)]="roleIds"
                (selectionChange)="getUsersData()"
              >
                <mat-option value="0">All</mat-option>
                <mat-option value="1">Admin</mat-option>
                <mat-option value="2">User</mat-option>
                <mat-option *ngFor="let tag of listTags" [value]="tag.id">{{
                  tag.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped w-100">
      <thead>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Image</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Country</th>
        <th>Role</th>
      </thead>
      <tbody *ngIf="listData?.data.length > 0">
        <tr *ngFor="let item of listData.data">
          <!-- <td>{{item.id}}</td> -->
          <td>{{ item.userName }}</td>
          <!-- <img src="../../../assets/images/no_recipe.svg" alt=""> -->
          <td class="w-25">
            <img
              [src]="item.imagePath ? imgUrl + item.imagePath : emptyImg"
              class="w-25"
              alt=""
            />
          </td>
          <td>{{ item.email }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>{{ item.country }}</td>
          <td>{{ item.group.name }}</td>

          <td>
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="openViewUserDialog(item)" mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>View</span>
              </button>
              <button (click)="openDeleteDialog(item.id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      #paginator
      class="demo-paginator"
      (page)="handlePageEvent($event)"
      [length]="listData?.totalNumberOfRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageNumber"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</section>
