<section class="auth">
  <div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
      <div class="col-md-8">
        <div class="auth-card">
          <div class="w-50 mx-auto text-center">
            <img src="../../assets/images/logo.svg" class="w-75" alt="" />
          </div>
          <h1>Login</h1>
          <p>Welcome Back! Please enter your details</p>
          <form>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-mobile-screen"></i
              ></span>
              <input
                type="email"
                class="form-control"
                placeholder="Enter your E-mail"
                aria-label="email"
                aria-describedby="basic-addon1"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"
                ><i class="fa-solid fa-lock"></i
              ></span>
              <input
                type="password"
                class="form-control border-end-0"
                placeholder="password"
                aria-label="password"
                aria-describedby="basic-addon1"
              /><span class="input-group-text cursor-pointer border-start-0" (click)="togglePassword()">
                <a>
                  <i *ngIf="!showPassword" class="fa-regular fa-eye"></i>
                  <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
                </a>
              </span>
            </div>

            <div class="links mb-3">
              <a class="text-dark-gray" href="">Register Now?</a>
              <a class="text-main" href="">Forgot Password?</a>
            </div>
<h1></h1>
            <button class="primary w-100" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
