<section class="container navbar">
  <div class="row">
    <div class="col-8">
      <div class="input-group mb-3">
        <span class="input-group-text border-0" id="basic-addon1"
          ><i class="fa-solid fa-magnifying-glass"></i></span>
        <input
          type="text"
          class="form-control border-0"
          placeholder="Search"
          aria-label="search"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</section>
