.page-title {
  background-image: url(../../assets/images/header-bg-svg.svg);
  background-repeat: no-repeat;
  background-color: #009247;
  border-radius: 15px;
  color: #fff;
  span {
    font-size: 18px;
    font-weight: 400;
  }
}

.fill-recipes {
  background-color: #F0FFEF;
}

.home {
  background-color: #F0FFEF;
  border-radius: 15px;
}

.recipes {
  color: #009247;
}

.view-recipes {
  padding: 0.9rem 3rem;
}
