<section>
  <div class="container-fluid">
    <div class="row home p-4">
      <div class="col-md-10">
        <h2>Fill the <span class="h2 recipes">Recipes</span>!</h2>
        <p>you can now fill the meals easily using the table and form , click here and sill it with the table !</p>
      </div>
      <div class="col-md-2 p-0">
        <button class="primary view-recipes" (click)="goRecipes()">Fill Recipes
          <span><i class="fa-solid fa-arrow-right"></i></span>
        </button>
      </div>
    </div>
  </div>
</section>
