/* You can add global styles to this file, and also import other style files */


.auth-card {
  $text-main: #4AA35A;
  $text-dark-gray: #3A3A3D;
  background-color: #fff;
  border-radius: 16px;
  padding: 1rem;

  h1 {
    color: #494949;
    font-size: 25;
  }

  p {
    color: rgba(73, 73, 73, 0.6);
  }

  i {
    color: #8391A1;
  }

  input {
    background-color: rgba(247, 247, 247, 1);
  }

  .links {
    display: flex;
    justify-content: space-between;
      .text-dark-gray {
        color: $text-dark-gray;
      }
      .text-main {
        color: $text-main;
    }

    a {
      text-decoration: none;
    }
  }
}



button {
  border: none;
  border-radius: 8px;
  padding: 0.7rem 0.5rem;
  &.primary {
    background-color: #4AA35A;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
  &.dark {
    background-color: #3A3A3D;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
  }
  &.dark-outline {
    border: 1px solid #3A3A3D;
    color: #3A3A3D;
    &:hover {
      background-color: #3A3A3D;
      color: #fff;
      opacity: 0.7;
    }
  }
}
